body{
  height:300vh;
  width: 100%
}
a{
  text-decoration: none;
  color: black;
}
.backimg{
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}
.header{
  height: 7vh;
  width: 100%;
  background-color: rgba(252,234,187,1);
  position: fixed;
  margin-top: -3vh;
  display: flex;
  justify-content: space-between;
}
.header > *{
  margin: .5%;
}
.landing{
  height: 45vw;
  background-color: rgba(252,234,187,1);
  background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 36%, rgba(248,181,0,1) 51%, rgba(255,82,51,1) 100%);
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}
.f{
  font-family: 'Condiment';
}
.logo{
  font-size: 20vh;
  margin-top: 30vh;
}
.location{
  padding-left: 10%;
}
.htype{
  font-size: 3vh;
  padding-top: .5%;
}
.links{
  width: 15vw;
  display: flex;
  justify-content: space-between;
}
.goods{
  height: 93vh;
  width: 100%;
  background-color: rgba(252,234,187,1);
  margin-top: 25vh;
}
.footer{
  height: 13vh;
  width: 100%;
  background-color: #384659;
}
.footer > *{
  padding-top: 1%;
  padding-left: .4%;
  color: rgba(252,234,187,1);
  font-weight: 100;
  font-size: 140%;
}
